apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: prod
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
