apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-sa  # ← KSA, связанный с GSA
      containers:
        - name: backend
          image: europe-west1-docker.pkg.dev/project-e2164ea6-30f3-429d-b71/app-repo/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: INSTANCE_CONNECTION_NAME
              value: "project-e2164ea6-30f3-429d-b71:europe-west1:prod-db-instance"
            - name: DB_NAME
              value: "app_db"
            - name: DB_USER
              value: "fastapi-sa@project-e2164ea6-30f3-429d-b71.iam.gserviceaccount.com"
          # При необходимости можно включить livenessProbe и readinessProbe
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
