apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: prod
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 8000
  type: ClusterIP
